<div class="row p-5" data-controller="label-toggle">
  <div class="log col-12 col-sm-4 mx-auto p-4">
    <h2 class="text-center">Bienvenu sur Watch List</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-control", data: { turbo: :false }) do |f| %>
      <div class="col-12 mb-1 pt-3">
        <label for="<%= f.field_id(:email) %>" data-label-toggle-target="emaillabel" class="hidden">Email</label>
        <%= f.input :email,
                    label: false,
                    placeholder: "Email",
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", data: { label_toggle_target: "email", action: "click->label-toggle#toggleLabel click->label-toggle#togglePlaceholder" } }%>
      </div>
      <div class="col-12 mb-3">
        <label for="<%= f.field_id(:password) %>" data-label-toggle-target="passwordLabel" class="hidden">Password</label>
        <%= f.input :password,
                    label: false,
                    placeholder: "Mot de passe",
                    required: false,
                    input_html: { autocomplete: "current-password", data: { label_toggle_target: "password", action: "click->label-toggle#togglePasswordLabel click->label-toggle#togglePasswordPlaceholder" } } %>
      </div>
      <div class="col-12 mb-3">
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= link_to "Mot de passe oublié?", new_user_password_path %>
      </div>
      <div class="col-12 mb-3">
        <%= f.submit "Se connecter", class: "btn-submit btn-lg w-100" %>
      </div>
      <hr>
      <div class="no-account">
        <p>Pas de compte? <%= link_to "S'inscrire", new_user_registration_path %> </p>
      </div>
    <% end %>
  </div>
</div>
